<!-- <p>
  process123 works!
</p> -->
<div class="jumbotron">
    <h2 class="display-5">A Painless Process</h2>
    <p class="lead">A Knock trade-in saves you the hassle of repairs, listing, showings, and months of uncertainty.</p>
    <hr class="my-4">
    <h2 class="display-5">1. Get Trade-in Price</h2>
    <p class="lead">Understand quickly how much your current house will sell for with Knock.</p>

    <hr class="my-4">
    <h2 class="display-5">2. Identify New Home</h2>
    <p class="lead">Our Licensed Local Experts will get you pre-approved and help you find your new dream home.</p>

    <hr class="my-4">
    <h2 class="display-5">3. A Seamless Swap</h2>
    <p class="lead">We buy your new home, so you can move in before we prep and put your old house on the market.</p>
    
    <br>
    <p class="lead">
        <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../contact']" role="button">Contact</a>
      </p>
</div>