<!-- <p>
  process123 works!
</p> -->
<div class="jumbotron">
    <h2 class="display-5">The Exchange Process</h2>
    <p class="lead">A simple trade-in saves you the hassle of repairs, listing, showings, and months of uncertainty. So you have more time shopping your future home.</p>
    <p class="lead">What is more important to you? Let go.</p>
   
    <hr class="my-4">
    <h2 class="display-5">1. Get A Trade-in Price</h2>
    <p class="lead">Understand quickly how much your current house will sell for after remodel. </p>

    <hr class="my-4">
    <h2 class="display-5">2. Finding your New Home</h2>
    <p class="lead">Our Licensed Local Partners will get you pre-approved. Then get you shopping for new house with our All Cash Offer.</p>

    <hr class="my-4">
    <h2 class="display-5">3. The Escrow Swap</h2>
    <p class="lead">We give you the All Cash offer and credits, before old house is sold.</p>
    
    <br>
    <p class="lead">
        <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../contact']" role="button">Contact</a>
      </p>
</div>