<!-- <p>
  customertype123 works!
</p> -->
      <!-- start customertype123  -->
      <div class="jumbotron">
          <div class="row">
            <div class="col">
                <h2 class="display-5">Need More Space</h2>
                <p class="lead">Getting married and having kids.</p>
                <p class="lead">Getting roommates and becoming host.</p>
            </div>
            <div class="col">
                <h2 class="display-5">Need Less Space</h2>
                <p class="lead">Retiring early and traveling.</p>
                <p class="lead">Relocating and reducing your commute.</p>
            </div>
            <div class="col">
                <h2 class="display-5">Need A Change</h2>
                <p class="lead">Making new life experiences</p>
            </div>
          </div>
          <br>
              <p class="lead">
                  <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../contact']" role="button">Contact</a>
                </p>
        </div>