<!-- <p>
  product1vs2 works!
</p> -->


<div class="card-group jumbotron">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/300/150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Buying and then Selling</h5>
        <p class="card-text">The Traditional Way. List your home, get offers, and fight counter offers. </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Understand quickly how much your current house will sell after remodel.</li>
            <li class="list-group-item">Wait 40 days to know if your new home appraises and your mortgage is approved.</li>
            <li class="list-group-item">Pay mortgage, utility and maintenance bills on two properties.</li>
            <li class="list-group-item">You hire and pay contractors to get your current house ready for sale.</li>
            <li class="list-group-item">Keep your house perfect for inconvenient night and weekend showings</li>
          </ul>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/300/150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Affordable Housing Exchange Program</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Understand quickly how much your current house will sell after remodel.</li>
            <li class="list-group-item">Wait 40 days to know if your new home appraises and your mortgage is approved.</li>
            <li class="list-group-item">Pay mortgage, utility and maintenance bills on two properties.</li>
            <li class="list-group-item">You hire and pay contractors to get your current house ready for sale.</li>
            <li class="list-group-item">Keep your house perfect for inconvenient night and weekend showings</li>
          </ul>
      </div>
    </div>
  </div>


      <!-- start product1vs2 -->
      <div class="jumbotron">

          <div class="row">
            <!-- start cols -->
              <div class="col">
                  <h2 class="display-5">Buying and then Selling</h2>
                  <p class="lead">The Traditional Way. List your home, get offers, and fight some counter offers.</p>


                  <hr class="my-4">
                  <h2 class="display-5">1. </h2>
                  <p class="lead">Understand quickly how much your current house will sell after remodel.</p>
        
                  <hr class="my-4">
                  <h2 class="display-5">2. </h2>
                  <p class="lead">Wait 40 days to know if your new home appraises and your mortgage is approved.</p>
        
                  <hr class="my-4">
                  <h2 class="display-5">3. </h2>
                  <p class="lead">Pay mortgage, utility and maintenance bills on two properties.</p>
  
                  <hr class="my-4">
                  <h2 class="display-5">4.</h2>
                  <p class="lead">You hire and pay contractors to get your current house ready for sale.</p>
  
  
                  <hr class="my-4">
                  <h2 class="display-5">5.</h2>
                  <p class="lead">Keep your house perfect for inconvenient night and weekend showings.</p>
              </div>
              <!-- start col -->
                <div class="col">
                    <h2 class="display-5">Affordable Housing Exchange Program</h2>
                    <p class="lead">Trade-in your house, get pre-approved, get shopping.</p>
  
                    <hr class="my-4">
                    <h2 class="display-5">1. </h2>
                    <p class="lead">We buy your new house all cash to get you the best price and repair concessions.</p>
          
                    <hr class="my-4">
                    <h2 class="display-5">2. </h2>
                    <p class="lead">We get you and your new house a guaranteed pre-approval before making offers.</p>
          
                    <hr class="my-4">
                    <h2 class="display-5">3. </h2>
                    <p class="lead">We will pay the bills on one house and settle with you when your old house is sold.</p>
  
                    <hr class="my-4">
                    <h2 class="display-5">4.</h2>
                    <p class="lead">We manage and pay for repairs on your current house and settle with you at closing.</p>
  
                    <hr class="my-4">
                    <h2 class="display-5">5.</h2>
                    <p class="lead">Move into your new house before we list your current house for sale.</p>
                </div>
          </div>        
            
            <br>
            <p class="lead">
                <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../contact']" role="button">Contact</a>
              </p>
        </div>