<!-- <p>
  product1vs2 works!
</p> -->
      <!-- start product1vs2 -->
      <div class="jumbotron">
          <div class="row">
            <!-- start cols -->
              <div class="col">
                  <h2 class="display-5">Buying and Selling</h2>
                  <p class="lead">The Traditional Way</p>
                  <hr class="my-4">
                  <h2 class="display-5">1. </h2>
                  <p class="lead">Understand quickly how much your current house will sell for with Knock.</p>
        
                  <hr class="my-4">
                  <h2 class="display-5">2. </h2>
                  <p class="lead">Wait 40 days to know if your new home appraises and your mortgage is approved.</p>
        
                  <hr class="my-4">
                  <h2 class="display-5">3. </h2>
                  <p class="lead">Pay mortgage, utility and maintenance bills on two properties.</p>
  
                  <hr class="my-4">
                  <h2 class="display-5">4.</h2>
                  <p class="lead">You hire and pay contractors to get your current house ready for sale.</p>
  
  
                  <hr class="my-4">
                  <h2 class="display-5">5.</h2>
                  <p class="lead">Keep your house perfect for inconvenient night and weekend showings.</p>
              </div>
              <!-- start col -->
                <div class="col">
                    <h2 class="display-5">Swap</h2>
                    <p class="lead">Swap</p>
  
                    <hr class="my-4">
                    <h2 class="display-5">1. </h2>
                    <p class="lead">We buy your new house all cash to get you the best price and repair concessions.</p>
          
                    <hr class="my-4">
                    <h2 class="display-5">2. </h2>
                    <p class="lead">We get you and your new house a guaranteed pre-approval before making offers.</p>
          
                    <hr class="my-4">
                    <h2 class="display-5">3. </h2>
                    <p class="lead">Knock will pay the bills on one house and settle with you when your old house is sold.</p>
  
                    <hr class="my-4">
                    <h2 class="display-5">4.</h2>
                    <p class="lead">We manage and pay for repairs on your current house and settle with you at closing.</p>
  
                    <hr class="my-4">
                    <h2 class="display-5">5.</h2>
                    <p class="lead">Move into your new house before we list your current house for sale.</p>
                </div>
          </div>        
            
            <br>
            <p class="lead">
                <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../contact']" role="button">Contact</a>
              </p>
        </div>